<div class="relative w-full max-h-80">
    <div class="absolute inset-0 bg-gradient-to-b from-black/30 to-black-70"></div>
    <img 
        src="https://images.pexels.com/photos/145399/pexels-photo-145399.jpeg"
        class="object-cover w-full h-full"
    />
    <div class="absolute inset-0 bg-gradient-to-t from-black/30 to-black-70"></div>
</div>
