<div class="flex flex-col justify-around bg-[#163933]">
    <div class="flex flex-col m-auto w-full min-w-[320px] max-w-[1200px]">
        <div class="flex justify-center gap-10 mt-2 text-[#fff8da] font-[Inter] text-[0.8rem]">
            <a href="/" class="hover:underline underline-offset-4 font-semibold">HOME</a>
            <a href="#" class="hover:underline underline-offset-4 font-semibold">BIKES / FRAMES</a>
            <a href="/components" class="hover:underline underline-offset-4 font-semibold">COMPONENTS</a>
            <a href="#" class="hover:underline underline-offset-4 font-semibold">BRANDS</a>
        </div>

        <h1 class="flex justify-center items-end text-center font-[Lobster] text-[#fff8da] gap-x-10">
            <!-- <div class="border p-5"> -->
            <!--     <p>Track bike</p> -->
            <!-- </div> -->
            <p class="font-semibold font-[GreatVibes] text-2xl text-[#cba060]">Steel legacy</p>
            <a href="/">
                <p class="logo -rotate-6 mt-4 mb-[-15px] text-[#fff8da] font-[Lobster] text-7xl">Velocité Cycles</p>
            </a>
            <p class="font-semibold font-[GreatVibes] text-2xl text-[#cba060]">Since 1970</p>
            <!-- <div class="border p-5"> -->
            <!--     <p>Racer Bike</p> -->
            <!-- </div> -->
        </h1>
    </div>
</div>

<!-- green - #163933 -->
<!-- peach - #fff8da -->
<!-- brown- #cba060 -->
